
.load-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	
}

.logo{
	animation: bounce 0.5s  infinite alternate;
	animation-delay: 100ms;
}

.logo > img{
	height: 90px;
	width: 90px;
}

.dot-container{
	margin-top: 30px;
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dot{
	animation: bounce 0.5s  infinite alternate;
}

.dot > img{
	height: 20px;
	width: 20px;
}

.dot2{
	animation-delay: 100ms;
}

.dot3{
	animation-delay: 200ms;
}

@keyframes bounce {
	0%{
		translate: 0 20px;
	}
	100%{
		translate: 0 -10px;
	}
}