.car-pics{
	height: 300px;
	width: 240px;
	margin: 2em 3em;
	border-radius: 3px;
	border: 2.2px solid gray;
}

.warning{
	color: red;
	font-weight: 500;
}

.rules{
	margin: auto 0;
}

.rule-cards{
	display: flex;
	gap: 2em;
	justify-content: center;
	overflow-x: auto;

}

.rule-cards > div{
	width: 13em;
	height: 28em;
	border-radius: 10px;
	border: 4px outset grey;
	padding: 8px;
	background-color: rgb(96, 95, 95);
}

.rule-heading{
	height: 7em;
	display: flex;
	justify-content: center;
	align-items: center;

}