.bar{
	position: sticky;
	top: 0;
	background-color: black;
	padding-bottom: 10px;
	height: 9em;
}

nav{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3em;
	background-color: rgb(52, 49, 49);
	color: rgb(185, 1, 1);
	margin: 0 3rem;
	border: 2px ridge black;
}
a{
	color: red;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: black;
	padding: 8px;
	width: 80px;
	border-radius: 3px;
	border: 2px inset grey;

}

a:hover{
	color: rgb(113, 5, 5);
}
